.cpblock {
    width: calc(100vw - 20px);
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.cpblock h1 {
    color: #000;
    font-size: 27px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.15px;
    margin: 0;
}

.cptop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cptop img {
    width: 24px;
    height: 24px;
}

.cptop p {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-top: 4px;
}

.cpmid {
    margin-top: 16px;
    margin-bottom: 16px;
}

.cpmid p {
    color: #656565;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15px;
}

.cardimg {
    width: calc(100vw - 20px);
    height: auto;
}

.rating a {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-top: 6px;
}

.cpbuttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.startbrowse {
    display: flex;
    width: calc(100vw - 20px);
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    background: #000;
    color: #fff;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    border-style: none;
    padding: 17px 24px;
}

.similar {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid #000;
    color: #000;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    background-color: #fff;
    width: calc(100vw - 20px);
}