*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-image: url("/images/starback.svg");
    background-repeat: no-repeat;
    overflow-x: hidden;
    align-items: center;
}