.sitemapblockbg{
    width: 100vw;
    padding-top: 100px;
    background: linear-gradient(0deg, #fff 5.49%, rgba(255, 255, 255, 0) 100%),
        linear-gradient(125deg,
            #f99277 0%,
            #cf9aba 23.67%,
            #b2a1de 45.42%,
            #abbdf2 71.83%,
            #e9f9fd 100%);
    border-radius: 64px 0 0 0;
}

.sitemapblock{
    background-color: #fff;
    padding: 40px;
    width: 1240px;
    border-radius: 30px 30px 0 0;
    margin-left: 100px;
    margin-right: 100px;
}

.categorylink {
    display: flex;
    color: #212025;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.15px;
    margin: 24px 0;
    border-radius: 12px;
    background: #F8F8F8;
    padding: 18px 36px;
    gap: 16px;
    align-items: center;
    width: max-content;
    height: max-content;
}

.cardlinkblock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.cardlink {
    width: auto;
    display: flex;
    align-items: center;
    padding: 12px 24px;
    gap: 16px;
    border-radius: 16px;
    background: #F8F8F8;
}

.cardlink img {
    width: 40px;
    height: 40px;
}